

body {
    background-color: black;

    font-family: "Roboto Mono", monospace;
    color: #4AF626;
    font-size: large;
    
    display: block;
    margin: 5%;
}

a {
    color: #4AF626;
    text-decoration: underline;
}

#profile #links {
    padding-left: 3%;
}

a:hover {
    text-shadow: 1px 1px 2px #4AF626;
}

.tooltip {
    position: relative;
}

.tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 0;
    bottom: -3em;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    white-space: nowrap;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s, transform 0.3s;
    font-size: 12px;
    z-index: 10;
}

.tooltip:hover::after {
    opacity: 1;
    transform: translateY(0);
}


span{
	animation: cursor 1s infinite;
  -webkit-animation:cursor 1s infinite;
  -moz-animation:cursor 1s infinite;
  -o-animation:cursor 1s infinite;
}

@keyframes cursor{
	to{opacity: .0;}
}
